
body {
    direction: rtl;
}

.header {
    height: 15vh;
    background-color: #057372;
    box-shadow: 0px 2px 4px 0px;
}

.main-title {
    padding: 65px 50px 25px 0;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
    width: auto;
}

.view {
    padding: 0 50px 50px 50px;
}

.sensors-label {
    color: #057372;
}

.basket-wrapper {
    display: flex;
    justify-content: center;
}

.instruction-label {
    color: #057372;
}

.arrow {
    float: left;
}

.input-wrapper {
    border-radius: 10px;
    background-color: #057372;
    margin: 10px;
    padding: 1%;
    display: inline-block;
    color: #FFFFFF;
}

.input-wrapper-droped {
    border-radius: 10px;
    border: 1px solid #057372;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    color: rgba(5,115,114,0.6);
    text-align: center;
}

.input-wrapper-after-droped {
    border-radius: 10px;
    background-color: #057372;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
}

.drop-input {
    width: 100vw;
    border: none;
    text-align: center;
    height: 50vh;
}

.black-line-footer {
    background-color: white;
    width: 99%;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    border-bottom: 2px solid black;
    z-index: 2;
    position: absolute;
    top: -7px;
}

.footer {
    height: 15vh;;
    background-color: #057372;
    position: relative;
}

.white-circle-footer {
    height: 15%;
    background-color: white;
    width: 100%;
    display: inline-block;
    border-radius: 50%;
    border-bottom: 2px solid #FFFFFF;
    z-index: 1;
    position: absolute;
    top: -8%;
}

.arduino-img {
    position: absolute;
    bottom: 0;
    left: 48.5%;
}